@charset "UTF-8";
/* CSS Document */

#header {
	z-index:10;
	text-align:center;
}

.header-text {
	font-family:"Peanuts";
	font-size:20px;
}

.name-text {
	color:#37393B;
	font-family:"Peanuts";
	font-size:36px;
	vertical-align:middle;
	cursor:pointer;
}

#name-header {
	text-align:center;
	margin-bottom:20px;
}

.title-text {
	color:#D6DEE7;
	font-family:"Peanuts";
	font-size:24px;
	vertical-align:middle;
}

html, body {
	height:100%;
	width:100%;
	background-color:#D6DEE7;
}

.container {
	background-color:#D6DEE7;
}

.para-text {
	font-family:"Orator Std Slanted";
	font-size:16px;
}

#footer {
	background-color:#3B49A9;
}

#hello {
	font-family:Peanuts;
	font-size:24px;
	display:inline;
	z-index:2;
}

#know-more {
	font-family:Calibri, "Calibri Bold", "Calibri Bold Italic", "Calibri Italic", "Calibri Light";
	font-size:24px;
	display:inline;
	z-index:2;
}

#my-pic {
	z-index:2;
	cursor:pointer;
}

#fun-loving-guy {
	position:relative;
	margin:0px;
	padding:0px;
	bottom:330px;
	left:20%;
	z-index:1;
	width:200px;
}

#code {
	position:relative;
	margin:0px;
	padding:0px;
	bottom:300px;
	left:25%;
	z-index:1;
	width:200px;
}

#photographer {
	position:relative;
	margin:0px;
	padding:0px;
	bottom:250px;
	left:15%;
	z-index:1;
	width:200px;
}

#learner {
	position:relative;
	margin:0px;
	padding:0px;
	bottom:370px;
	right:15%;
	z-index:1;
	width:200px;
}

#tech {
	position:relative;
	margin:0px;
	padding:0px;
	bottom:650px;
	right:25%;
	z-index:1;
	width:200px;
}

#photographer4 {
	position:relative;
	margin:0px;
	padding:0px;
	bottom:925px;
	right:20%;
	z-index:1;
	width:200px;
}

/* Professional */
.prof-icon {
	padding-bottom:20px;
}

#prof-heading {
	font-family:Peanuts;
	font-size:24px;
	text-align:center;
	margin-bottom:10px;
}

.thumb {
	padding-bottom:10px;
}

a {
	text-decoration:none;
}

#eze, #neu-ga, #neu-math, #reliance, #eze-logo, #neu-ga-logo, #neu-math-logo, #reliance-logo {
	cursor:pointer;
}