@charset "UTF-8";
/* CSS Document */

.header-text {
	font-family:Cambria, "Cambria Bold", "Cambria Bold Italic", "Cambria Italic", "Cambria Math";
	font-size:20px;
}

.name-text {
	color:#5B5F63;
	font-family: "Mf Queen Leela";
	font-size:48px;
}

.title-text {
	color:#5B5F63;
	font-family:  "Mf Queen Leela";
	font-size:24px;
}

html, body {
	height:100%;
	width:100%;
	background-color:#D6DEE7;
}

.container {
	background-color:#D6DEE7;
}

.para-text {
	font-family:Cambria, "Cambria Bold", "Cambria Bold Italic", "Cambria Italic", "Cambria Math";
	font-size:16px;
}

#footer {
	background-color:#3B49A9;
}